__pycache__/
migrations/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env.py
local_settings.py

# Distribution / packaging
.Python
venv/
env/
*.sqlite3
.idea/
# Project asset folders
media/
# Database
db.sqlite3
# Editor directories and files
.idea
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class