{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Donation Camps{% endblock %}
{% block content %}
    <!--Section: Sales Performance KPIs-->
    <section class="mb-4">
        <div class="card">
          <div class="card-header text-left py-3">
            <h5 class="mb-0 text-left">
              <strong>Donation Camps</strong>
              <a href="" class="btn btn-primary btn-sm " role="button" aria-disabled="true">Create Donation Camp</a>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Timings</th>
                    <th scope="col">No. of Donors</th>
                    <th scope="col">Status</th>
                    <th scope="col">Blood Collected</th>
                    <th scope="col">Edit/Delete</th>
                  </tr>
                </thead>
                <tbody>
                    {% for camp in donationcamps %}
                  <tr>
                    <td>{{camp.name}}</td>
                    <td>{{camp.location}}</td>
                    <td>{{camp.timings}}</td>
                    <td>{{camp.donors}}</td>
                    <td>{{camp.status|title}}</td>
                    <td>{{camp.total_blood_collected}}</td>
                    <td>
                      <a type="button" class="btn btn-warning">Edit</a>
                      <a type="button" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Sales Performance KPIs-->
{% endblock %}