{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Hospitals{% endblock %}
{% block content %}
    <!--Section: Sales Performance KPIs-->
    <section class="mb-4">
        <div class="card">
          <div class="card-header text-left py-3">
            <h5 class="mb-0 text-left">
              <strong>List Of Hospitals</strong>
              <a href="" class="btn btn-primary btn-sm " role="button" aria-disabled="true">Add Hospitals </a>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Edit/Delete</th>
                  </tr>
                </thead>
                <tbody>
                    {% for hospital in hospitals %}
                  <tr>
                    <td>{{hospital.name}}</td>
                    <td>{{hospital.location}}</td>
                    <td>
                        <a type="button" class="btn btn-warning">Edit</a>
                        <a type="button" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Sales Performance KPIs-->
{% endblock %}