{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Donors{% endblock %}
{% block content %}
    <!--Section: Sales Performance KPIs-->
    <section class="mb-4">
        <div class="card">
          <div class="card-header text-left py-3">
            <h5 class="mb-0 text-left">
              <strong>List Of Owners</strong>
              <a href="" class="btn btn-primary btn-sm " role="button" aria-disabled="true">Add Owner</a>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">Flat</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Occupation</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Aadhar</th>
                    <th scope="col">Address</th>
                  </tr>
                </thead>
                <tbody>
                    {% for owner in owners %}
                  <tr>
                    <td>{{owner.flat}}</td>
                    <td>{{owner.user.name}}</td>
                    <td>{{owner.user.email}}</td>
                    <td>{{owner.user.occupation}}</td>
                    <td>{{owner.user.phone}}</td>
                    <td>{{owner.user.aadhar}}</td>
                    <td>{{owner.address}}</td>
                    <td>
                      <a type="button" class="btn btn-warning">Edit</a>
                      <a type="button" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Sales Performance KPIs-->
{% endblock %}