{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}CBC Reports{% endblock %}
{% block content %}
    <!--Section: Sales Performance KPIs-->
    <section class="mb-4">
        <div class="card">
          <div class="card-header text-left py-3">
            <h5 class="mb-0 text-left">
              <strong>Societies</strong>
              <a href="" class="btn btn-primary btn-sm " role="button" aria-disabled="true">Add Society</a>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Owner Company</th>
                    <th scope="col">Secretary</th>
                  </tr>
                </thead>
                <tbody>
                    {% for society in societies %}
                  <tr>
                    <td>{{society.name}}</td>
                    <td>{{society.location}}</td>
                    <td>{{society.owner_company}}</td> 
                    <td>{{society.secretary}}</td>
                    <td>
                      <a href="{% url 'society-detail' society.id %}" type="button" class="btn btn-primary">Detail</a>
                      <a type="button" class="btn btn-warning">Edit</a>
                      <a type="button" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Sales Performance KPIs-->
{% endblock %}