{% extends 'society/base.html' %}
{% load static %}
{% block content %}

      <!-- Carousel wrapper -->
      <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
          <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
          <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
        </ol>

        <!-- Inner -->
        <div class="carousel-inner">
          <!-- Single item -->
          <div class="carousel-item active">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white text-center">
                  <h1 class="mb-3">Community Management System</h1>
                  <h5 class="mb-4">All your community needs at one place.</h5>
                  <a
                    class="btn btn-outline-light btn-lg m-2"
                    href="{% url 'register' %}"
                    role="button"
                    >Register</a
                  >
                  <a
                    class="btn btn-outline-light btn-lg m-2"
                    href="{% url 'register' %}"
                    role="button"
                    >Contact Us</a
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <div
              class="mask"
              style="
                background: linear-gradient(
                  45deg,
                  rgba(29, 236, 197, 0.7),
                  rgba(91, 14, 214, 0.7) 100%
                );
              "
            >
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white text-center">
                  <h2>Register your community with us.</h2>
                  <a
                    class="btn btn-outline-light btn-lg m-2"
                    href="{% url 'register' %}"
                    role="button"
                    >Register</a
                  >
                </div>
              </div>
            </div>
          </div>
          </div>
          <!-- Single item -->
          <div class="carousel-item">
            <div
              class="mask"
              style="
                background: linear-gradient(
                  45deg,
                  rgba(228, 198, 198, 0.7),
                  rgba(236, 166, 74, 0.7) 100%
                );
              "
            >
              <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white text-center">
                  <h2>Click on the button to learn more</h2>
                  <a
                    class="btn btn-outline-light btn-lg m-2"
                    href="https://mdbootstrap.com/docs/standard/content-styles/masks/"
                    target="_blank"
                    role="button"
                    >Learn More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- Carousel wrapper -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-5">
      <div class="container">
        <!--Section: Content-->
        <section>
          <div class="row">
            <div class="col-md-6 gx-5 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
                <img src="{% static 'society/img/home-ambience.jpg' %}" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-6 gx-5 mb-4">
              <h4><strong>About our community</strong></h4>
              <p class="text-muted">
                We provide  all information within the community,
                with features to manage official communication, feedback,
                 discussions and even recent events.
              </p>
              <p><strong>FAQ's</strong></p>
              <p class="text-muted">
              <p>1. What are the components of this platform?
                This includes all our features,such as the Security and Gate module,
                Payments & Accounting module, Community features, MyGate Homes,
                Buy&Sell, etc.</p> 

                <p>2. How do brand engagements work on MyGate?
                  MyGate partners with brands to bring to the community exciting offers,
                  experiences,product launches,and much more.
                  These may be in the form of online or offline. </p>
               

                  <p>3. Are brand campaigns targeted based on my information?
                    No.We take data privacy and information security very seriously.
                    MyGate does not utilise user information for targeting of any kind.
                    This includes all our features, such as the Security and Gate module, Payments & Accounting module, Community features, MyGate Homes, Buy&Sell, etc.</p>
               

                    <p>4. How does my society earn revenue from MyGate?
                      All societies on the Free or Basic plan have the opportunity to 
                      earn revenue from campaigns that go live in the society.</p>
               
                      
                      <p>5. Are my details shared with advertisers on MyGate?
                        MyGate does not share personal information with any brand without
                        the explicit and recorded consent of users.</p>
              
              </p>
            </div>
          </div>
        </section>
        <!--Section: Content-->

        <hr class="my-5" />

        <!--Section: Content-->
        <section class="text-center">
          <h4 class="mb-5"><strong>Societies on our platform</strong></h4>
          <div class="row">
          {% for society in societies %}
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  {% if society.image.url %}
                  <img
                    src="{{society.image.url}}"
                    height="400"
                  />
                  {% else %}
                  <img
                    src="{% static 'society/img/default-society.jpg' %}"
                    class="img-fluid"
                    height="400"
                  />
                  {% endif %}
                  <!-- <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a> -->
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{society.name}}</h5>
                  <p class="card-text">
                    {{society.location}}
                  </p>
                  <a href="#!" class="btn btn-primary">View More</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
        <!--Section: Content-->
{% endblock %}
        